<%= form_tag articles_path, method: :get do %>
  <div class="input-group">
    <%= text_field_tag :q, params[:q], class: "form-control" %> <span class="input-group-btn">
<%= submit_tag "Search", class: "btn btn-default" %> </span>
  </div>
<% end %>

<h1>My Articles</h1>
<h4>Most commented article is <%= link_to @most_commented.title, article_path(@most_commented) %></h4>
<%= link_to 'New Article', new_article_path %>
<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Text</th>
      <th>Author</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
  <% @articles.each do |article| %>
    <tr class="<%= article.css_class %>">
      <td><%= article.title %></td>
      <td><%= article.text %></td>
      <td><%= article.author.email %></td>
      <td><%= link_to 'Summary', article_path(article), class: 'btn btn-info summary', id: "summary-#{article.id}" %></td>
      <td><%= link_to 'Show', article_path(article) %></td>
      <td>
        <% if article.author == current_user || current_user&.admin? %>
          <%= link_to 'Edit', edit_article_path(article) %>
        <% end %>
      </td>
      <td>
        <% if article.author == current_user || current_user&.admin? %>
          <%= link_to 'Delete', article_path(article), method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

Articles: <%= @articles.count %>
<%= paginate @articles, theme: 'twitter-bootstrap-4' %>