<h1>My Article</h1>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>

<% if sponsored_article? @article %>
  <h3>Artykuł sponsorowany przez firmę <%= @article.company.name %></h3>
<% end %>

<p>
  <strong>Author:</strong>
  <%= @article.author.email %>
</p>

<p>
  <strong>Tags:</strong>
  <% @article.tags.each do |tag| %>
  <%= link_to tag, articles_path(q: tag), class: "badge badge-dark" %>
  <% end %>
</p>

<%= pluralize(@article.likes_count, 'person') %> liked this article
<% if @like.persisted? %>
<i class="fa fa-thumbs-down"></i>
<%= link_to 'Unlike', article_like_path(@article, @like), method: :delete %>
<% else %>
<i class="fa fa-thumbs-up"></i>
<%= link_to 'Like', article_likes_path(@article), method: :post %>
<% end %>

<% if sponsored_article? @article %>
  <p>Komentarze zablokowane</p>
<% else %>
  <h2>Comments</h2>

  <%= render @article.comments %>

  <%= render 'comments/form' %>

  <%= link_to 'Back', articles_path %>

  <% if @article.author == current_user || current_user&.admin?  %>
    <%= link_to 'Edit', edit_article_path(@article) %>
  <% end %>
<% end %>