<h1>My Article</h1>

<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>

<p>
  <strong>Author:</strong>
  <%= @article.author.email %>
</p>

<p>
  <strong>Tags:</strong>
  <% @article.tags.each do |tag| %>
  <%= link_to tag, articles_path(q: tag), class: "badge badge-dark" %>
  <% end %>
</p>

<h2>Comments</h2>

<%= render @article.comments %>

<%= render 'comments/form' %>

<%= link_to 'Back', articles_path %>

<% if @article.author == current_user %>
  <%= link_to 'Edit', edit_article_path(@article) %>
<% end %>
